<%- include('partials/header') %>

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h2 class="h1 display-4">
            <%= locals.title %>
        </h2>
        <p class="lead">
            <%= locals.description %>
        </p>
        <p class="font-weight-bold">par <%= locals.user?.firstname %>
                <%= locals.user?.lastname %>
        </p>
        <p class="lead">
            <%= locals.questions?.length %> questions
        </p>
    </div>

    <div class="row">
        <%- include('partials/tagsList', {tags: locals.tags}) %> 

    </div>

    <div class="row">
        <% if (locals.questions && locals.questions.length) { %>
            <% for (let question of questions) { %>
                <%- include('partials/oneQuestion', question.dataValues) %>
                    <% } %>
            <% } else { %> 
            <h2> Aucune question dans ce quiz</h2>
        <% } %>
    </div>

    <%- include('partials/footer') %>